body{
    width: 98vw;
    background-color: rgb(232, 240, 237);
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(80, 80, 80);
    border-radius: 4px;
}

ul{
    list-style: none;
    font-size: 1.5rem;
    font-weight:bolder ;
    display: flex;
}

.navbar > ul > li{
    padding: 1rem;
    color: white;
}

.logo{
    width: 60px;
}